/.idea
Скрины с ошибками/Снимок экрана 2022-12-26 211718.png
Скрины с ошибками/Снимок экрана 2022-12-26 211718.png
Скрины с ошибками/Снимок экрана 2022-12-22 211244.png
Скрины с ошибками/Снимок экрана 2022-12-26 211718.png
Скрины с ошибками/Снимок экрана 2022-12-26 153723.png
Скрины с ошибками/Снимок экрана 2022-12-22 211244.png
Скрины с ошибками/Снимок экрана 2022-12-22 200715.png
Новая папка/style.css
Новая папка/index.html
Новая папка/.gitignore
Архивы  домашек/Homework_4.rar
Архивы  домашек/Homework_3.rar
Архивы  домашек/homework_2.rar
Lectury/index.html
Lectury/index Лекция.html
Lectury/5286db5c32c83.jpg
homework_2/index.html
frontend_lesson_1/README.md
frontend_lesson_1/index.html
frontend_lesson_1/frontend_lesson_1
e46288f6-9fbf-4dbb-ab4e-ac1dc6566a81.jpg
